<template>
  <div>
    <vs-navbar v-model="active" center-collapsed color="#1e2023" square text-white>
      <template #left>
        <vs-navbar-title>
          Orbit Coffee Company
        </vs-navbar-title>
      </template>
      <vs-navbar-item id="home" :active="active == 'home'">
        Home
      </vs-navbar-item>
      <vs-navbar-item id="menu" :active="active == 'menu'">
        Menu
      </vs-navbar-item>
      <vs-navbar-item id="locations" :active="active == 'locations'">
        Locations
      </vs-navbar-item>
      <vs-navbar-item id="about" :active="active == 'about'">
        Our Story
      </vs-navbar-item>
      <vs-navbar-item id="contact" :active="active == 'contact'">
        Contact Us
      </vs-navbar-item>

      <template #right>
        <vs-button danger>
          Sign In
        </vs-button>
        <vs-button success>
          Order Online
        </vs-button>
      </template>
    </vs-navbar>
    <Nuxt />
  </div>
</template>

<style>
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.button--green {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #3b8070;
  color: #3b8070;
  text-decoration: none;
  padding: 10px 30px;
}

.button--green:hover {
  color: #fff;
  background-color: #3b8070;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #35495e;
  color: #35495e;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #fff;
  background-color: #35495e;
}
</style>
